<!DOCTYPE html>
<html layout:decorate="layout/layout">

<head>
	<meta charset="UTF-8">
	<title layout:fragment="title" th:text="#{common.login}">Login</title>
</head>

<body>
	<main layout:fragment="content">
		<h1 class="text-center" th:text="#{common.login}">Login</h1>
		<form th:action="@{/auth/login}" method="post" class="mx-auto" style="max-width: 400px;">
			<div class="mb-3">
				<label for="username" class="form-label" th:text="#{common.username}">UserName</label>
				<input type="text" name="username" id="username" class="form-control" required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label" th:text="#{common.password}">Password</label>
				<input type="password" name="password" id="password" class="form-control" required>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button type="submit" class="btn btn-primary w-100" th:text="#{common.login}">Login</button>
		</form>
	</main>
</body>

</html>