<!DOCTYPE html>
<html layout:decorate="layout/layout">
<head>
	<meta charset="UTF-8">
	<title layout:fragment="title" th:text="#{common.register}">Register</title>
</head>
<body>
	<main layout:fragment="content">
		<h1 class="text-center" th:text="#{common.register}">Register</h1>
		<form th:action="@{/auth/register}" method="post" class="mx-auto" style="max-width: 400px;">
			<div class="mb-3">
				<label for="username" class="form-label" th:text="#{common.username}">UserName</label>
				<input type="text" name="username" id="username" class="form-control" required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label" th:text="#{common.password}">Password</label>
				<input type="password" name="password" id="password" class="form-control" required>
			</div>
			<button type="submit" class="btn btn-success w-100" th:text="#{common.register}">Register</button>
		</form>
	</main>
</body>
</html>