<!DOCTYPE html>
<html layout:decorate="layout/layout">

<head>
	<meta charset="UTF-8">
	<title layout:fragment="title" th:text="#{contact.complete.title}">お問い合わせ送信完了</title>
</head>

<body>
	<main layout:fragment="content">
		<div class="mt-5 text-center">
			<h1 class="mb-4" th:text="#{contact.complete.heading}">お問い合わせありがとうございました。</h1>
			<p th:text="#{contact.complete.message}">お問い合わせは正常に送信されました。</p>
			<a href="/" class="btn btn-primary" th:text="#{contact.button.top}">トップページに戻る</a>
		</div>
	</main>
</body>